{% extends "notas/base.html" %}
{% block content %}
{% csrf_token %}
<div style="padding-top: 65px">
    <div class="card text-center" style="background-color: #FF8863; padding-top: 15px; padding-bottom: 15px;">
        <h2 class="article-title" style="color: white; font-weight: bold">País: {{ pais.nombre }}</h2>
        <h4 class="article-content"style="color: white; font-weight: bold">Código: {{ pais.codigo }}</h4>
    </div>
    <div class="text-center" style="padding-top: 15px">
        <a class="btn btn-outline-secondary" href="{% url 'pais-update' object.codigo %}">Modificar</a>
        <a class="btn btn-outline-danger" href="{% url 'pais-delete' object.codigo %}">Eliminar</a>
    </div>
</div>
{% endblock content %}